doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(name='description', content='')
    meta(name='author', content='')

    title Signin Template for Bootstrap
    
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css')

  body.text-center
    form.form-signin
      img.mb-4(src='https://avatars1.githubusercontent.com/u/5959178?s=400&u=83677bd40439e31d5f200ab3fc91feb6f869e092&v=4', alt='', width='72', height='72')
      h1.h3.mb-3.font-weight-normal Please sign in
      label.sr-only(for='inputEmail') Email address
      input#inputEmail.form-control(type='email', placeholder='Email address', required='', autofocus='')
      label.sr-only(for='inputPassword') Password
      input#inputPassword.form-control(type='password', placeholder='Password', required='')
      div.checkbox.mb-3
        label
          input(type='checkbox', value='remember-me') 
          |  Remember me
      button.btn.btn-lg.btn-primary.btn-block(type='submit') Sign in
      p.mt-5.mb-3.text-muted &copy; 2017-2018
