extends ../layout

block content
  .panel.panel-default
    .panel-body
      .row
        .col-md-12.lead
          | Perfil de usuário
          hr
      .row
        .col-md-4.text-center
          img.img-circle.avatar.avatar-original(src='http://robohash.org/sitsequiquia.png?size=120x120')
        .col-md-8
          h1.only-bottom-margin #{usuario.nome} #{usuario.sobrenome}
          span.text-muted Email:
          |  #{usuario.email}   
      hr