extends ../layout

include ../mixins/_input
include ../mixins/_select

block content
  form(action=`/usuarios/cadastro${usuario ? '/' + usuario._id : ''}`, method="POST")

    if usuario
      input(hidden, name='_id', value=usuario._id)

    +input({
      id: 'nome',
      label: 'Nome',
      placeholder: 'Digite seu nome',
      name: 'nome',
      value: usuario ? usuario.nome : ''
    })

    +input({
      id: 'sobrenome',
      label: 'Sobrenome',
      placeholder: 'Digite seu sobrenome',
      name: 'sobrenome',
      value: usuario ? usuario.sobrenome : ''
    })

    +input({
      id: 'email',
      label: 'Email',
      placeholder: 'Digite seu email',
      type: 'email',
      help: 'O email deve conter um `@`',
      name: 'email',
      value: usuario ? usuario.email : ''
    })

    if !usuario
      +input({
        id: 'senha',
        type: 'password',
        label: 'Senha',
        placeholder: 'Digite sua senha',
        name: 'senha'
      })

      +input({
        id: 'senha2',
        type: 'password',
        label: 'Confirmação de senha',
        placeholder: 'Digite sua senha novamente',
        name: 'senha2'
      })

    button.btn.btn-primary(type="submit") Enviar